<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.raghav.icsmap">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity"/>

        <service android:name=".services.LocationMonitoringService"
            android:enabled="true"

            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </service>

        <service android:name=".services.LocationMonitoringService1"
            android:enabled="true"

            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </service>

        <!--<service android:name=".services.TestJobService"-->
            <!--android:enabled="true"-->
            <!--android:exported="true"-->
            <!--android:permission="android.permission.BIND_JOB_SERVICE" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->

        <!--</service>-->

        <!--<service android:name=".services.LocationUpdateService"-->
            <!--android:enabled="true"-->
            <!--android:exported="true"-->
           <!--&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->

        <!--</service>-->

        <receiver
            android:name=".services.TimeService"
            android:process=":remote"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"

            >
            <intent-filter>
                <action android:name="REFRESH_THIS"/>
                <action android:name="android.intent.action.PROVIDER_CHANGED"/>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </receiver>

        <!--<receiver-->
            <!--android:name=".services.ConnectivityReceiver"-->
            <!--android:process=":remote"-->
            <!--android:enabled="true"-->
            <!--android:exported="true"-->
            <!--android:permission="android.permission.RECEIVE_BOOT_COMPLETED"-->
            <!--&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="REFRESH_THIS"/>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

    </application>

</manifest>